@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for draw cards */
@keyframes slide {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide {
  animation: slide 0.6s ease-out;
}
